<h1>
<%="Convert "+ @first_pair.upcase %>
</h1>

Go <a href="/forex">back</a>.

<ul>
  <% @symbols_array.each do |symbol| %>
    <li>
      <a href="/forex/<%=@first_pair%>/<%=symbol%>">
        <%="Convert 1 "+ @first_pair.upcase + " to " + symbol + "..."%>
      </a>
    </li>
  <% end %>
</ul>
