<h1>
<%= "Convert " + @first_pair.upcase + " to " + @second_pair.upcase %>
</h1>

<%= "1 " + @first_pair.upcase + " equals " + @rate.to_s + " " + @second_pair.upcase + "."%>

<p> Go <a href="/forex/<%=@first_pair%>">back</a>. </p>
